target/
cache/

.settings
.project
.classpath

# intellij idea
*.iml
*.ipr
*.iws
.idea

# metals
project/metals.sbt
.metals
.bloop
.bsp

#api key
keys/
*api_key

*.db
*.data
*.class

# local settings
.java-version
.jvmopts
local.sbt
local.conf
**/secret.conf

# vs code
.vscode

# sbt
project/project/
project/target/
.sbtopts

# eclipse
build/
.worksheet
bin/
.cache

# mac
.DS_Store

# vim
*.swp
*.swo
